/* Using JIT mode, see tailwind's limitations with this mode here https://tailwindcss.com/docs/just-in-time-mode#known-limitations */

@tailwind base;
@tailwind components;
@tailwind utilities;
/* Karla + Oxygen Mono Google Font */
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Oxygen+Mono&display=swap');

* {
  @apply antialiased;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-lightDark;
}
/* Century Gothic */
@font-face {
  font-family: 'CenturyGothic';
  src: url('/fonts/CenturyGothic/Century-Gothic.ttf');
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: 'CenturyGothic';
  src: url('/fonts/CenturyGothic/GOTHIC.TTF');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'CenturyGothic';
  src: url('/fonts/CenturyGothic/GOTHICB.TTF');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'CenturyGothic';
  src: url('/fonts/CenturyGothic/GOTHICB0.TTF');
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: 'CenturyGothic';
  src: url('/fonts/CenturyGothic/GOTHICBI.TTF');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'CenturyGothic';
  src: url('/fonts/CenturyGothic/GOTHICI.TTF');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}